<table summary="Subject form fields">
  <tr>
    <th>Username</th>
    <td><%= f.text_field(:username) %></td>
  </tr>
  <tr>
    <th>Paid</th>
    <td><%= f.check_box(:paid) %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= f.text_field(:email) %></td>
  </tr>
</table>