
<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="player delete">
  <h2>Delete Player</h2>
  
  <%= form_for(:player, :url => {:action => 'destroy', :id => @player.id}) do |f| -%>

    <p>Are you sure you want to permanently delete this player?</p>
  
    <p class="reference-name"><%= @player.username %></p>
  
    <div class="form-buttons">
      <%= submit_tag("Delete Player") %>
    </div>
    
  <% end %>
</div>
