
<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="player new">
  <h2>Create Player</h2>

  <%= form_for(:player, :url => {:action => 'create'}) do |f| %>
  
    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Create Player") %>
    </div>
    
  <% end %>
</div>
